@model ConsultantProfileItemViewModel

<section class="list-item">
    <section class="item-image-and-summary">

        <a class="item-image anchor-unset" asp-action="Details" asp-route-id="@Model.Id">
            <img src="/content/images/profile.jpg">
        </a>

        <a class="item-summary anchor-unset" asp-action="Details" asp-route-id="@Model.Id">
            <p>"@Model.Summary"</p>
        </a>

        <a asp-action="Delete" asp-route-id="@Model.Id"><i class="medium material-icons">delete_forever</i></a>
    </section>

    <section class="item-name-section">
        <a class="item-name anchor-unset" asp-action="Details" asp-route-id="@Model.Id">
            @Model.FirstName @Model.LastName
        </a>
    </section>
</section>